* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nerko One', cursive;
  background-color: #ADD8E6;
  text-shadow: 2px 2px 2px #808080;
}

.container {
  width: 60%;
  margin: 0 auto;
}

header h1 {
  text-transform: uppercase;
  font-size: 80px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 20px;
}

main .row {
  width: 100%;
  height: 180px;
  margin: 15px auto;
}

main .card {
  position: relative;
  display: inline-block;
  box-shadow: 2px 2px 2px #808080;
  margin: 0 1%;
  width: 20%;
  height: 100%;
  background-color: #FFFFFF;
  color: #E66B19;
  border-radius: 10px;
  overflow: hidden;
  background-image: url(../img/pattern.png);
  background-size: contain;
}

.card .text {
  display: none;
  background-color: #FFFFFF;
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.card .image {
  display: none;
  width: 100%;
  height: 140px;
  background-color: #FFFFFF;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}

.card:hover .text,
.card:hover .image {
  display: block;
  color: #E61986;
}

.card.active > .image,
.card.active > .text {
  display: block;
  color: #E61986;
}

.image.balloon {
  background-image: url(../img/noun_air_balloon_3134741.png);
}

.image.bicycle {
  background-image: url(../img/noun_Bicycle_3134821.png);
}

.image.cruise {
  background-image: url(../img/noun_Cruise_Ship_3134824.png);
}

.image.submarine {
  background-image: url(../img/noun_Submarine_3134738.png);
}

.image.tractor {
  background-image: url(../img/noun_Tractor_3134797.png);
}

.image.tram {
  background-image: url(../img/noun_Tram_3134750.png);
}

footer .text {
  line-height: 40px;
  text-align: center;
}